@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&subset=cyrillic');
@import url('styles.css');

@import url('tree.css');

/*@import url('font-awesome.min.css');*/

@import url('solid.css');
@import url('regular.css');
@import url('brands.css');

@import url('font-awesome.min.css');
@import url('fontawesome.css');


@import url('bootstrap.min.css');
/*@import url('https://fonts.googleapis.com/css?family=Ubuntu');*/
@import url('styles.css');

@import url('../../assets/css/jquery-editable-select.min.css');
@import url('../../assets/css/dataTables.bootstrap4.min.css');
@import url('../../assets/css/toastr.css');

/*@import url('../../assets/css/editable-select.css');*/

.col-12,.col .form-group {
  margin-top: -5px !important;
}
.category-div {
	background-color: rgba(0, 0, 0, 0.03);
}

/**
.nav > li:hover > a:after{
	content:"";
	height:0;
	width:0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #fff;
	position:absolute;
	bottom:-1px;
	left:50%;
	margin:0 0 0 -3px;
	z-index:100;	
}
**/

@media screen and (min-width: 600px) {

	li:focus a.dropdown-x:target {
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		position:absolute;
		transition: all 0s 9999999s;
	}


	li:active a.dropdown-x:after {
		content:"";
		height:0;
		width:0;
		top: 45px;
		border-left: 6px solid transparent;
		border-right: 6px solid transparent;
		border-bottom: 6px solid #fff;
		position:absolute;
		bottom:-1px;
		left:50%;
		margin:0 0 0 -3px;
		z-index:100;

		transition: all 0s;
		display: block;	
	}

	.dropdown-menu.dropdown-menu-x {
		top: 53px !important;
	}
}


input {
  border: none;
  box-sizing: none;
  border-radius: 4px;
}

.form-control-x{
	
	box-shadow: none !important;	
	-webkit-box-shadow: none !important;

}

.form-check-input {
    content: '/';
    background-color: #fff !important;
    color: #000 !important;
   	border: 2px solid #b7c2c6 !important;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    box-shadow: transparent !important;
    -webkit-box-shadow: transparent !important;
    -webkit-appearance: none !important;
}

.form-check-input:checked {
	background: #000 !important;
	color: #fff !important;	
}

.font-weight-bolder {
	font-weight: bolder !important;
	font-size: 16px;
}