.fa {
    transform: translateY(-4%) !important;
}

.tooltip {
    margin-left: 10px !important;
    position: absolute; 
    top: 0px; 
    left: 2px !important;
}

.icons {
	-webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0,0,0,0.15);	
}

body {

    font-family: 'Ubuntu', sans-serif !important;

}

.dropdown .arrow {
  position: absolute !important;
  display: block !important;
  width: 0.8rem !important;
  height: 0.4rem !important;
}

.card-active {
    color: #000 !important;
    background-color: #f8f9fa !important;
}

input[type=search] {

    top: 5px !important;


}


.dropdown-item:hover {

    background-color: #007bff !important;
    color: #fff !important;

}

.nav-item .sb-menu:hover {
    color: #000 !important;
    /*font-weight: bold !important;*/

    background-color: #b5babe !important;
    
}

.nav-item .sb-menu:hover .fa {
    color: #fff !important;
    /*font-weight: bold !important;*/    
}

.nav-item.bg-secondary .sb-menu {
    background-color: #c4c7cb !important;
}
.nav-item.bg-secondary .sb-menu:hover {
    color: #000 !important;
    background-color: #7f7f7f !important;
    
}
/**
* DEVELOPER CUSTOM


@media (max-width: 768px) {

    #sidebar.active {
        margin-left: 250px !important;
    }
    
    #sidebar {

        display: flex;
        align-items: stretch;
        -ms-flex:0 0 auto;
        flex:0 0 auto;
        max-width:none;
        -ms-flex-preferred-size:0;
        flex-basis:0;
        -ms-flex-positive:1;
        flex-grow:1;    
        width: 250px !important;
        margin-left: 0px !important;

    }
    
    #sidebarCollapse span {
        display: none;
    }

    #content {
        width: 100% !important;

    }

    #content.active {
        width: calc(100% - 250px) !important;
        background-color: red !important;
    }


}

@media (max-width: 576px) { 

    #sidebar.active {
        margin-left: -150px !important;
    }

    #sidebar {

        width: 250px !important;
        color: #000 !important;
        transition: all 0.3s;
    }
    
    #content {
        width: calc(100% - 250px) !important;
        background-color: red !important;
        margin-left: -60px !important;
    }

    #content.active {

        margin-left: 250px !important;
        padding-left: 30px;
        width: 100% !important;

    }

    .d-label {
        display: inline-block !important;
    }

}

@media (max-width: 499px) { 

    #sidebar.active {

        text-align:center!important;
        margin-left: 80px;
        width: 80px !important;

    }
    
    .d-label {
        display: none !important;
    }

    #sidebar {
        min-width: 80px !important;
        max-width: 80px !important;
        text-align: center !important;
        color: #000 !important;
        background: #fff;
        transition: all 0.3s;

    }

    #content {
        background-color: blue !important;
    }

    #content.active {
        margin-left: 150px;
        padding-left: 30px;
        background-color: red !important;
    }

}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    width:auto;
    max-width:none;
    -ms-flex-preferred-size:0;
    flex-basis:0;
    -ms-flex-positive:1;
    flex-grow:1;    
}
**/

/* Default */

#sidebar {

    width: 250px !important;

    /* Temporary */
    -ms-flex-preferred-size: 0 !important;
    -ms-flex-positive: 1 !important;

}

#sidebar.active {
    
    margin-left: -250px !important;

}

#content {

    width: calc(100% - 250px) !important;

    /*Temporary */
    -ms-flex-preferred-size: 0 !important;
    -ms-flex-positive: 1 !important;

}

#content.active {
    margin-left: 0px !important;
    width: 100% !important;
}

.wrapper {

}

@media (min-width: 320px) {

    #sidebar {
        text-align: center !important;
        width: 60px !important;

        /* Temporary */
        

    }

    #sidebar.active {
        
        margin-left: -60px !important;

    }

    #content {

        width: calc( 100% - 60px )!important;

        /*Temporary */

    }

    .d-label {
        display: none !important;
    }
}


/* Media Queries SM*/
@media (min-width: 576px) {

    #sidebar {
        text-align: left !important;
        width: 180px !important;

        /* Temporary */
        

    }

    #sidebar.active {
        
        margin-left: -180px !important;

    }

    #content {

        width: calc(100% - 180px) !important;
        /*Temporary */

    }

    #content.active {
        margin-left: 0px !important;
        width: 100% !important;
    }

    .d-label {
        display: inline-block !important;
        /*font-size: 90%;*/
    }

}

/* Medium devices (tablets, 768px and up) MD*/
@media (min-width: 768px) { 

    #sidebar {
        text-align: left !important;
        width: 190px !important;

        /* Temporary */
        

    }

    #sidebar.active {
        
        margin-left: -210px !important;

    }    

    .d-label {
     /*   font-size: 100%;*/
    }

    #content.active {
        padding-left: 50px !important;
        margin-left: 20px !important;
    }

    #content {
        width: calc(100% - 210px) !important;
    }

}
/* 03-02-2019
@media (min-width: 979px) and (max-width: 982px){

    .social-icon {
        padding-left: 1.3rem !important;
        padding-right: 1.3rem !important;
    }    

    .social-icon i {
        margin-left: 2rem !important;
        margin-left: 1.25rem !important;
    }

}
*/
/* Large devices (desktops, 992px and up) LG */
@media (min-width: 992px) { 
    
    #content {
        width: calc(100% - 190px) !important;

    }

    #content.active {
        padding-left: 20px !important;
        width: 100% !important;
    }
/* 03-02-2019
    .social-icon {
        padding-left: 2rem !important;
        padding-right: 1rem !important;
    }    

    .social-icon i {
        margin-right: 1.5rem !important;

    }
*/
}

/* Extra large devices (large desktops, 1200px and up) XL */
@media (min-width: 1200px) {
    #content {
        width: calc(100% - 190px) !important;

    }

    #content.active {
        padding-left: 20px !important;
        width: 100% !important;
    }
/*
    .social-icon {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }

    .social-icon i {
        margin-right: 0.3rem !important;

    }
*/
}


@media (min-width: 1366px) {
/*
    .social-icon i {
        margin-right: 2rem !important;

    }
*/
}
*/
#item-counter {
    position:relative;
}   

.scrollup {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}


a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    text-decoration: none !important;
}