
#back2top-btn {

  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99 !important;
  border: none !important;

}

.no-icon-menu {

  padding-top: 12px !important;
  padding-bottom: 15px;
  padding-right: 10px;
/*  padding-right: -10px; */
  left: 0px;
}

.icon-menu {
  padding-top: 28px;
  padding-bottom: 28px;
  padding-right: -20px;
  position: relative;
}

.icon-menu span.badge-icon {
  position: absolute !important;
  top: 12px;
  left: 16px;
  padding-right: -20px;
  display: inline-block;
  padding: 0.25em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;  
}

@media screen and (max-width: 767px) {

  .icon-menu {
    padding-top: 25px;
    padding-bottom: 15px;
    padding-right: -100px;
  }

  .no-icon-menu {
    padding-top: 21px !important;
    padding-bottom: 15px;    
  }

}

@media screen and (max-width: 600px) {

  .icon-menu .badge {

    position: absolute;
    top: 15px;
    right: 28px !important;
    display: none;
    color: red !important;

  }

  .icon-menu i {
    margin-right: -10px !important; 
  }


}

#gmgt .popover-header {background:  #E74C3C; border-radius: 0;}

.card-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}


.custom-link:hover, .custom-link:focus{
  border-color: transparent;
  box-shadow: none;
  text-decoration: none !important;
  background-color: transparent;
}
.custom-link{
  text-decoration: none !important;  
  background-color: transparent;
  border-color: transparent;
}

.sidebar {
  
  position: fixed;
  top: 10px;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #007bff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #007bff;
}

.sidebar .nav-link.active {
  color: #000;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}


a.nav-link .feather{

  color: #000;
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}


/**
*  
**/

/**.sidebar ul li a {
  background-color: #fff !important;

}**/

.sidebar ul li div.collapse a.nav-link:hover {

  background-color: #6c757d !important;
  color: #fff !important;
}

.sidebar ul li div.collapse a.nav-link:hover span.fa {
  color: #fff !important;
}

/**
.badge-wrapper {
  position: relative !important;
}

.badge {

  position: absolute !important;
  top: 0 !important;
  right: -5px !important;
  text-align: center !important;
  vertical-align:middle !important;

}

.badge-wrapper[data-count]:after{
  position:absolute;
  right:10%;
  top:8%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  border-radius:50%;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:center;
  min-width: 1em;
  //font-weight:bold;
}



.badge:after{
   position: absolute;
     top: -5px;
     right: -5px;
     display: inline-block;
     width: 8px;
     height: 8px;
     border-radius: 50%;
}

**/

/*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
  padding-top: 20px; position: relative;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

.tree li {
  float: left; text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
  content: '';
  position: absolute; top: 0; right: 50%;
  border-top: 1px solid #ccc;
  width: 50%; height: 20px;
}
.tree li::after{
  right: auto; left: 50%;
  border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
  display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
  border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
  border-right: 1px solid #ccc;
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
  border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  -moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
  content: '';
  position: absolute; top: 0; left: 50%;
  border-left: 1px solid #ccc;
  width: 0; height: 20px;
}

.tree li a{
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
  background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after, 
.tree li a:hover+ul li::before, 
.tree li a:hover+ul::before, 
.tree li a:hover+ul ul::before{
  border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/

#ui_view::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}


#ui_view::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#ui_view::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}



body::-webkit-scrollbar {
    width: 0.2rem;
}
 
body::-webkit-scrollbar-corner {
    height: 0.2rem;
}

body::-webkit-scrollbar-track-piece:horizontal {

    -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    border-radius: 10px;
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}



/* REMOVED THIS (NO USED) */

